<% if user_signed_in? %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
                <h1>Welcome back!</h1>
            </div>
         </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Latest Trip</h2>
                <p>Come explore with me, my lastest trip.</p>
            <br>
            <br>
            <br>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Past Trips</h2>
                <p>Inspired by one of my past trips? Looking for suggestions? Here you find links to my old trips. </p>
            <br>
            <br>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Forum</h2>
                <p>Want to leave suggestions? Do you want to connect with other people? This forum will be a great place for you to meet other people or leave me feed back! </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
    </div>
</div>
        </div>
    <% else %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        
                <h1>Traveling the World</h1>
                <p>Explore the world with me and hopefully I inspire you to gain new experiences!</p>
             <br>
                <%= link_to "Sign up", "signup", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Latest Trip</h2>
                <p>Come explore with me, my lastest trip.</p>
            <br>
            <br>
            <br>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Past Trips</h2>
                <p>Inspired by one of my past trips? Looking for suggestions? Here you find links to my old trips. </p>
            <br>
            <br>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Forum</h2>
                <p>Want to leave suggestions? Do you want to connect with other people? This forum will be a great place for you to meet other people or leave me feed back! </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
    </div>
</div>
<% end %>
